<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <nav class="nav">
      <div class="nav-container">
        <a href="{{ site.baseurl }}/">
          <h2 class="nav-title">{{ site.title }}</h2>
        </a>
        <ul class="nav-social-icons">
          
          <!-- Navigation items -->
          <li><a href="/projects">Projects</a></li>
          <li><a href="/music">Music</a></li>
          <li><a href="https://witulskistrings.vercel.app">Instrument building</a></li>
          <li><a href="/about">About</a></li>

          <!-- Social links-->
          {% if site.social.email %}
            <li><a target="_blank" href="mailto:{{ site.social.email }}"><i class="fas fa-envelope"></i></a></li>
          {% endif %} 
          {% if site.social.github %}
            <li><a target="_blank" href="{{ site.social.github }}"><i class="fab fa-github"></i></a></li>
          {% endif %}
          {% if site.social.twitter %}
            <li><a target="_blank" href="{{ site.social.twitter }}"><i class="fab fa-twitter"></i></a></li>
          {% endif %}
          {% if site.social.linkedin %}
            <li><a target="_blank" href="{{ site.social.linkedin }}"><i class="fab fa-linkedin-in"></i></a></li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <main>
      {{ content }}
    </main>

    <footer>
      <span>
        &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> {{ site.author.name }}
      </span>
      <script data-goatcounter="https://witulski.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
    </footer>
  </body>
</html>
